* {
  margin: 0;
  padding: 0;
  color: rgb(207, 207, 207);
  font-family: 'Balsamiq Sans', cursive;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(22, 22, 22);
}

.wrapper {
  height: 90%;
  width: 80%;
  min-width: 500px;
  background-color: rgb(39, 39, 39);

  .header-txt {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
}

.delete {
  margin-left: 5px;
  font-size: 30px;
  width: 53px;
  height: 53px;
  cursor: pointer;

  appearance: none;
  border: 0;
  border-radius: 20%;
  background: rgba(255, 0, 0, 0.4);
  color: rgb(0, 0, 0);

  transition: background .4s linear;
}

.delete:hover {
  background: rgb(255, 3, 3);
}

.delete:focus {
  outline: none;
}

.return {
  margin-left: 5px;
  font-size: 30px;
  width: 53px;
  height: 53px;
  cursor: pointer;

  appearance: none;
  border: 0;
  border-radius: 20%;
  background: rgba(255, 238, 0, 0.4);
  color: rgb(0, 0, 0);

  transition: background .4s linear;
}

.return:hover {
  background: rgb(255, 238, 0);
}

.return:focus {
  outline: none;
}

.done {
  margin-left: 5px;
  font-size: 30px;
  width: 53px;
  height: 53px;
  cursor: pointer;

  appearance: none;
  border: 0;
  border-radius: 20%;
  background: rgba(0, 255, 0, 0.4);
  color: rgb(0, 0, 0);

  transition: background .4s linear;
}

.done:hover {
  background: rgb(0, 255, 0);
}

.done:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 100%;
    height: 100%;

    .header-txt {
      font-size: 18px;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    min-width: auto;

    .header-txt {
      font-size: 20px;
      margin: 10px 0 0 0;
    }
  }

 .done,
  .delete,
  .return {
    font-size: 12px;
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
  }
}