.tasks {
  width: 80%;
  min-height: 80%;
  margin: 20px auto;

  .task {
    font-size: 30px;
    border: 1px solid green;
    margin: 5px 0;
    padding: 15px;

    .task-number {
      font-style: italic;
    }

    .task-control {
      float: right;
    }
  }
}
