.task-done {
  font-size: 30px;
  border: 2px solid green;
  margin: 5px 0;
  padding: 5px;
  transition: opacity 0.6s linear;

  .task-done-number {
    font-style: italic;
  }

  .task-done-control {
    float: right;
  }

  .task-done-topic {
    text-decoration: none;
  }

  .task-done-topic-chosen {
    text-decoration: line-through;
  }
}

.invisible {
  opacity: 0;
}
